@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dashBoard {
    display: flex;
    height: 1000px;
}

.sideBar {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    background: #ffffff;
    padding: 20px 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    box-shadow: 0px 21px 45px rgba(30, 66, 138, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    width: 82%;
    background: #F7F7FA;
}

.Logo_Box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.bar_box{
    margin-bottom: 10px;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.bar_box2{
    display: flex;
    justify-content: center;
}

.bar_box3 {
    margin-right: 15px;
    padding: 3px
}

.bar_box:active{
    background: #00B5FF;
    opacity: 0.08;
    color: #00B5FF;
}

.dashDetails {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.NoOfOrgRow, .MarketOverviewRow, .RecentActivitiesRow {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.NoOfOrg, .TotInvent, .DrugCat, .TotAmt {
    height: 134px;
    width: 260px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 21px 45px rgba(30, 66, 138, 0.1);
}

.AmountTotal, .CatOfDrug, .InventTot, .OrgNum {
    display: flex;
    gap: 20px;
    padding:  20px;
}

.AmountTotal p, .CatOfDrug p, .InventTot p, .OrgNum p{
    margin-bottom: 20px;
    letter-spacing: 0.2px;
    font-size: 16px;
    line-height: 24px;
}

.org_icon {
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #FFC5A9 0%, rgba(247, 148, 99, 0.94) 100%);
    box-shadow: 0px 20px 50px rgba(97, 97, 97, 0.25);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invent_icon {
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #92E7BF 0%, #39B67B 100%);
    box-shadow: 0px 20px 50px rgba(97, 97, 97, 0.25);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drug_icon {
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #FFAE99 0%, rgba(226, 48, 1, 0.94) 100%);
    box-shadow: 0px 20px 50px rgba(97, 97, 97, 0.25);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.market {
    height: 250px;
    width: 820px;
    border: 10px;
    background: #ffffff;
}

.drugHighDemand {
    width: 260px;
    height: 250px;
    background: #ffffff;
    border-radius: 10px;
}

.Recent {
    width: 540px;
    height: 250px;
    background: #ffffff;
    border-radius: 10px;
} 

.drug-cat{
    width: 260px;
    height: 250px;
    background: #ffffff;
    border-radius: 10px;
} 

.topClient {
    width: 260px;
    height: 250px;
    background: #ffffff;
    border-radius: 10px;
}