@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 82%;
    background: #F7F7FA;
}

.inventory {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-family: 'Poppins';
}

.inventBtn {
    width: 247.33px;
    padding: 10px 17px;
    background: #00b5ff;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    order: 1;
    flex: none;
    flex-grow: 0;
    height: 50px;
}